<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="primaryConn" connectionString="server=.;database=BMA;uid=sa;pwd=R00tR00t;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMain" />
        <binding name="BasicHttpBinding_IStatic" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://win-vvthsubpmki/BMAService/BMAService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMain"
        contract="ServiceReference1.IMain" name="BasicHttpBinding_IMain" />
      <endpoint address="http://win-vvthsubpmki/BMAService/BMAStaticDataService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStatic"
        contract="ServiceReference2.IStatic" name="BasicHttpBinding_IStatic" />
    </client>
  </system.serviceModel>
</configuration>