<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true"/>
<customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<connectionStrings>
  <add name="primaryConn" connectionString="server=192.168.20.199;database=BMA;uid=sa;pwd=R00tR00t;" providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>